
body {
  background-color: rgb(9, 143, 167);
}
p{
  color: white;
   font-family: Georgia;
}

h1 {
  color: white;
  font-family: Gabriola;
}
article {
  padding: 50px;
  margin: 50px;
  background-color: rgb(148, 147, 144);
}
.frases {
  padding: 25px;
  margin: 10px;
  display: flex;
}
.bienvenida p {
  color: rgb(233, 219, 219);
}
.mision p {
  color: rgb(184, 21, 190);
}

/* mdifica el fondo segun el 
tamaño de la pantalla*/
@media (max-width: 500px) {
  h1 {
    color: rgb(170, 17, 184);
  }
  body {
    background-color: greenyellow;
  }
  .frases {
    display: inherit;
    height: auto;
  }
  .frases h2 {
    color: brown;
  }
  .bienvenida p {
    color: rgb(207, 33, 184);
  }
  .mision p {
    color: rgb(21, 24, 190);
  }
}
/* definir el diseño del carrusel */
#carrusel {
  float: left;
  width: 600px;
  overflow: hidden;
  height: 203px;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}

#carrusel .left-arrow {
  position: absolute;
  left: 10px;
  z-index: 1;
  top: 50%;
  margin-top: -9px;
}

#carrusel .right-arrow {
  position: absolute;
  right: 10px;
  z-index: 1;
  top: 50%;
  margin-top: -9px;
}

.carrusel {
  width: 4000px;
  left: 0px;
  position: absolute;
  z-index: 0;
}

.carrusel > div {
  float: left;
  height: 203px;
  margin-right: 5px;
  width: 195px;
  text-align: center;
}

.carrusel img {
  cursor: pointer;
}

.product {
  border: #cccccc04 3px solid;
}
